h3 {
    margin: 10px;
}
.criminalList {
    display: flex;
    flex-wrap: wrap;
    border: black solid 2px;
}

.criminal {
    margin: 10px;
    padding: 10px;
    border: 2px black dotted;
    flex: 10%
}

.box {
    display: flex;
}

.noteBox {
    border: solid black 2px;
    margin: 0px 10px 10px 10px;
    padding: 10px;
}

.criminalContainer {
    border: solid black 2px
}

#saveNote {
    margin-top: 10px;
}

.noteListButton {
    margin-top: 10px;
}

.notesTitle {
    padding-left: 15px;
    margin-bottom: 0px;
}

#showNotes {
    margin-left: 10px;
}

.filters {
    display: flex;
}

#or {
    margin-top: 0px;
    padding: 0px 10px;
}

#noteText {
    height: 200px;
}